To begin, import the data on loan approval and housing prices from kaggle.  To import the data you can use the following scripts in Powershell: 
#!/bin/bash
kaggle datasets download denkuznetz/housing-prices-regression
kaggle datasets download taweilo/loan-approval-classification-data

Now, import necessary modules and load the data into a variable that can used to create a data frame.

In [1]:
import pandas as pd
import numpy as np
housing_prices = pd.read_csv('housing_prices.csv')
loan_data = pd.read_csv('loan_data.csv')

Concat the two datasets into one large data frame:

In [3]:
mortgage_planning_data = pd.concat([housing_prices, loan_data], axis=1, ignore_index=False)

Next, we will see that the data sets have been correctly loaded.  Additionally, we need to review what columns are visible:

In [4]:
mortgage_planning_data

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,...,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,1.0,143.635030,1.0,3.0,3.0,1967.0,1.0,1.0,48.0,8.297631,...,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,2.0,287.678577,1.0,2.0,1.0,1949.0,0.0,1.0,37.0,6.061466,...,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,3.0,232.998485,1.0,3.0,2.0,1923.0,1.0,0.0,14.0,2.911442,...,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,4.0,199.664621,5.0,2.0,2.0,1918.0,0.0,0.0,17.0,2.070949,...,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,5.0,89.004660,4.0,3.0,3.0,1999.0,1.0,0.0,34.0,1.523278,...,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

Now, display information on all of the columns

In [5]:
mortgage_planning_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              500 non-null    float64
 1   Square_Feet                     500 non-null    float64
 2   Num_Bedrooms                    500 non-null    float64
 3   Num_Bathrooms                   500 non-null    float64
 4   Num_Floors                      500 non-null    float64
 5   Year_Built                      500 non-null    float64
 6   Has_Garden                      500 non-null    float64
 7   Has_Pool                        500 non-null    float64
 8   Garage_Size                     500 non-null    float64
 9   Location_Score                  500 non-null    float64
 10  Distance_to_Center              500 non-null    float64
 11  Price                           500 non-null    float64
 12  person_age                      45000 non-null  float64
 13  person_gender                   45000 non-null  object
 14  person_education                45000 non-null  object
 15  person_income                   45000 non-null  float64
 16  person_emp_exp                  45000 non-null  int64
 17  person_home_ownership           45000 non-null  object
 18  loan_amnt                       45000 non-null  float64
 19  loan_intent                     45000 non-null  object
 20  loan_int_rate                   45000 non-null  float64
 21  loan_percent_income             45000 non-null  float64
 22  cb_person_cred_hist_length      45000 non-null  float64
 23  credit_score                    45000 non-null  int64
 24  previous_loan_defaults_on_file  45000 non-null  object
 25  loan_status                     45000 non-null  int64
dtypes: float64(18), int64(3), object(5)
memory usage: 8.9+ MB